@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  color: #949494 !important;
}

::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  color: #949494 !important;
}

:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: inherit;
  color: #949494 !important;
}

:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
  font-family: inherit;
  color: #949494 !important;
}

:focus::-webkit-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  text-indent: -1000px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label, input:not([type="checkbox"]),
input:not([type="radio"]), button {
  -webkit-appearance: none;
  font-family: inherit;
}

label, input[type="submit"], button {
  cursor: pointer;
}

img {
  border: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

button:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover::-webkit-outer-spin-button,
input:hover::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

/* @include box-sizing(#); */
.icon {
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: 0 0;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-vk {
  background-image: url(../img/icons/vk.png);
}

.icon-fb {
  background-image: url(../img/icons/fb.png);
}

.icon-ins {
  background-image: url(../img/icons/ins.png);
}

.icon-yt {
  background-image: url(../img/icons/yt.png);
}

.icon-pin {
  width: 3.2rem;
  height: 4.8rem;
  background-image: url(../img/icons/pin.png);
}

@media only screen and (max-width: 991px) {
  .icon-pin {
    width: 2.1rem;
    height: 3.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .icon-pin {
    width: 1.3rem;
    height: 2.1rem;
  }
}

.icon-star-red {
  width: 2.3rem;
  height: 2.3rem;
  background-image: url(../img/icons/star-red.png);
}

.icon-star-gray {
  width: 2.3rem;
  height: 2.3rem;
  background-image: url(../img/icons/star-gray.png);
}

.icon-close {
  width: 2.6rem;
  height: 2.6rem;
  background-image: url(../img/icons/close.png);
}

.icon- {
  width: rem;
  height: rem;
  position: relative;
}

.icon-:hover:before {
  opacity: 0;
}

.icon-:hover:after {
  opacity: 1;
}

.icon-:before, .icon-:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.icon-:before {
  background-image: url(../img/icons/.svg);
}

.icon-:after {
  opacity: 0;
  background-image: url(../img/icons/.svg);
}

a:hover > .icon-:before, .active > .icon-:before {
  opacity: 0;
}

a:hover > .icon-:after, .active > .icon-:after {
  opacity: 1;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: 2rem;
  padding: 2.2rem 4.7rem 1.8rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background: #dc2626;
  overflow: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  border: none;
}

@media only screen and (max-width: 767px) {
  .btn {
    font-size: 1.6rem;
    padding: 1.5rem 3.3rem 1.3rem;
  }
}

.btn:hover {
  color: #fff;
  background: #b21d1d;
}

.btn:disabled, .btn.disabled {
  cursor: default;
  pointer-events: none;
  background: #9e9e9e;
  color: gray;
}

.btn_dark {
  background: #000;
  color: #fff;
}

.btn_dark:hover {
  background: #262626;
  color: #fff;
}

a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #dc2626;
}

a:hover {
  color: darker(#dc2626, 10%);
}

.link_underline {
  display: inline-block;
  border-bottom: 2px solid #dc2626;
  line-height: 1.1;
}

.link_underline:hover {
  text-decoration: none !important;
  border-color: transparent;
}

p {
  margin-bottom: 3.4rem;
}

@media only screen and (max-width: 767px) {
  p {
    margin-bottom: 2.4rem;
  }
}

.title {
  font-size: 4.4rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 4.7rem;
  letter-spacing: 0.14rem;
}

.title_main {
  font: 400 7.2rem/1.2 Tahoma, sans-serif;
}

@media only screen and (max-width: 991px) {
  .title_main {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .title_main {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 3.6rem;
  }
}

.mb_md {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 991px) {
  .mb_md {
    margin-bottom: 4.2rem;
  }
}

.mb_lg {
  margin-bottom: 7.5rem;
}

@media only screen and (max-width: 991px) {
  .mb_lg {
    margin-bottom: 4.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .mb_lg {
    margin-bottom: 3.3rem;
  }
}

.text_upper {
  text-transform: uppercase;
}

.text_size-xs {
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .text_size-xs {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
}

.text_size-sm {
  font-size: 1.8rem;
  line-height: 3rem;
}

.text_size-md {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

@media only screen and (max-width: 991px) {
  .text_size-md {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .text_size-md {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .text_mobile-sm {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.text_primary {
  color: #ff1c3c;
}

.text_inversion {
  color: #fff;
}

.text_dark {
  color: #182023;
}

.text_light {
  color: #838383;
}

.text_normal {
  font-weight: 400;
}

.text_bold {
  font-weight: 700;
}

.text_center {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .text_center_sm {
    text-align: center;
  }
}

.text_left {
  text-align: left !important;
}

.text_right {
  text-align: right !important;
}

.text_styling {
  font-family: Tahoma, sans-serif;
}

body {
  font: 400 2.1rem/3.4rem Arial, sans-serif;
  color: #000;
  background: #f0f0f0;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

body.overflow-none {
  overflow: hidden;
}

.wrap {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1220px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 748px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
}

.pos-rel {
  position: relative;
  z-index: 1;
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.section {
  padding: 5.7rem 0 7.3rem;
}

.bg_primary {
  background: #ff1c3c;
}

.bg_danger {
  background: #dc2626 !important;
}

.bg_dark {
  background: #0e1515;
  color: #fff;
}

.bg_black {
  background: #000;
  color: #fff;
}

.bg_black .text_light {
  color: #777777;
}

.bg_light {
  background: #eeeeee;
}

.w-100 {
  width: 100% !important;
}

.row {
  margin-left: -3rem;
  margin-right: -3rem;
}

@media only screen and (max-width: 991px) {
  .row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.row > * {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media only screen and (max-width: 991px) {
  .row > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.zoom-link {
  display: block;
  overflow: hidden;
}

.zoom-link:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.zoom-link img {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.swiper-pagination {
  position: static;
  margin: 1.8rem 0 1.6rem;
}

@media only screen and (max-width: 991px) {
  .swiper-pagination {
    margin-top: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .swiper-pagination {
    margin-top: 2.5rem;
  }
}

.swiper-pagination-bullet {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.75rem !important;
  opacity: 1;
  border-radius: 0;
  background: #9a9a9a;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active {
  background: #dc2626;
}

.form-control {
  font-family: inherit;
  display: block;
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  padding: 1.3rem 1.9rem;
  width: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  background: transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-control.has-error {
  border-color: #dc2626;
}

.form-control.has-error::-webkit-input-placeholder {
  color: #dc2626 !important;
}

.form-control.has-error::-moz-placeholder {
  color: #dc2626 !important;
}

.form-control.has-error:-moz-placeholder {
  color: #dc2626 !important;
}

.form-control.has-error:-ms-input-placeholder {
  color: #dc2626 !important;
}

.form-control:disabled {
  background: #E8E8E8;
  border-color: #E8E8E8;
}

.form-control_date {
  background: url(../img/icons/calendar.svg) 94% 50% no-repeat;
  background-size: 15px 16px;
}

@media only screen and (max-width: 767px) {
  .form-control_date {
    background-position: 94% 50%;
  }
}

.form-control_xs {
  text-align: center;
  width: 4.4rem;
  padding: 1.3rem 1rem;
}

@media only screen and (max-width: 767px) {
  .form-control_xs {
    width: 4.6rem;
  }
}

.form-control_lg {
  padding: 2.3rem 2.4rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .form-control_lg {
    padding: 2.2rem 2.3rem;
  }
}

.form-check-input {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  vertical-align: -0.3rem;
  border-radius: 5px;
  margin-right: 1.6rem;
  border: 1px solid #CBCBCB;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-check-input:hover {
  border-color: #000;
}

.form-check-input:checked {
  background: #000;
  border-color: #000;
}

.form-check-input:checked:before {
  opacity: 1;
}

.form-check-input:before {
  content: '';
  display: block;
  width: 1.2rem;
  height: 0.9rem;
  background: url(../img/icons/checkbox-inversion.svg) 0 0 no-repeat;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.form-check-input_sm {
  border-radius: 0;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.3rem;
}

.form-radio-input {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(25, 25, 25, 0.3);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-right: 1.6rem;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .form-radio-input {
    margin-right: 1.2rem;
  }
}

.form-radio-input:checked {
  border-width: 8px;
}

@media only screen and (min-width: 992px) {
  .margin-right-lg {
    margin-right: -4rem;
  }
}

textarea.form-control {
  resize: vertical;
  min-height: 9.1rem;
}

textarea.form-control_text {
  min-height: 16.1rem;
}

.label {
  display: block;
  font-size: 1.4rem;
  line-height: 2.8rem;
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 767px) {
  .label_sm {
    line-height: 2.2rem;
  }
}

.input-group > *:first-child {
  border-radius: 5px 0 0 5px;
}

.input-group > *:last-child {
  border-radius: 0 5px 5px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.rating {
  width: 8.8rem;
  height: 1.5rem;
  position: relative;
  background: url(../img/icons/rating.svg) 0 0 no-repeat;
  background-size: auto 100%;
  margin-right: 1.2rem;
}

.rating__active {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url(../img/icons/rating-active.svg) 0 0 no-repeat;
  background-size: auto 100%;
}

.rating_lg {
  width: 14.6rem;
  height: 2.5rem;
}

@media only screen and (max-width: 991px) {
  .rating_lg {
    width: 9.3rem;
    height: 1.6rem;
  }
}

.input-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-number__input {
  text-align: center;
  width: 100%;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.3rem;
  background: transparent;
  width: 4.8rem;
}

.input-number__plus, .input-number__minus {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid rgba(25, 25, 25, 0.1);
}

.input-number__plus:before, .input-number__plus:after, .input-number__minus:before, .input-number__minus:after {
  content: '';
  display: block;
  position: absolute;
  width: 1.4rem;
  height: 0.2rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 3px;
}

.input-number__plus:after, .input-number__minus:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.input-number__minus:after {
  display: none;
}

.input-number__minus:before {
  width: 1.2rem;
}

.radio-list {
  margin: 0 0 2.6rem;
}

@media only screen and (max-width: 767px) {
  .radio-list {
    margin-bottom: 2.4rem;
  }
}

.radio-list__item {
  padding: 2rem 3.2rem 2.4rem 2.4rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

@media only screen and (max-width: 767px) {
  .radio-list__item {
    padding: 2.4rem 1.4rem 2.4rem 1.2rem;
  }
}

.radio-list__item P {
  margin: 0.4rem 0 0;
}

@media only screen and (max-width: 767px) {
  .radio-list__item P {
    margin-top: 0.8rem;
  }
}

.radio-list__item .form-radio-input {
  margin-top: 0.4rem;
}

@media only screen and (max-width: 767px) {
  .radio-list__item .form-radio-input {
    margin-top: 0;
  }
}

.radio-list__item_md {
  padding: 1.2rem 2.3rem 1.2rem 2.4rem;
  min-height: 7.2rem;
}

@media only screen and (max-width: 767px) {
  .radio-list__item_md {
    padding: 1.2rem 1.4rem 1.2rem 1.2rem;
  }
}

.radio-list__item_md .form-radio-input {
  margin-top: 0;
}

.radio-list__item_md .radio-list__logo {
  margin-top: 0;
}

.radio-list__item_md .mark {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .radio-list__item_md .mark {
    margin-right: 1.3rem;
  }
}

.radio-list__text {
  margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
  .radio-list__text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.radio-list__logo {
  margin: 0.6rem 0 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .radio-list__logo {
    max-width: 7rem;
    margin-top: 0;
  }
}

.fake-select {
  position: relative;
}

.fake-select__info {
  display: inline-block;
  margin-left: 1.2rem;
}

.fake-select__item {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
}

.fake-select__item:not(:last-child) {
  margin-bottom: 2rem;
}

.fake-select__link {
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .fake-select__link::after, .fake-select__link::before {
    right: 1.9rem;
  }
}

.fake-select__dropdown {
  padding: 2rem;
  margin-top: 0.4rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.ui-slider {
  background: #CBCBCB;
  height: 0.2rem;
  margin: 3.1rem 0 3.1rem 0.8rem;
  border: none !important;
  border-radius: 2px;
}

@media only screen and (max-width: 991px) {
  .ui-slider {
    margin-bottom: 0;
  }
}

.ui-slider .ui-slider-handle {
  width: 1.2rem;
  height: 1.2rem;
  top: -0.5rem;
  border-radius: 50%;
  border: none;
}

.ui-slider .ui-slider-range {
  height: 0.2rem;
}

.range_absolute {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0.5rem;
  right: 0.5rem;
}

.range_primary .ui-slider-range {
  background: #CBCBCB;
}

.range-value {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
}

@media only screen and (min-width: 992px) {
  .range-value:first-child {
    width: 47%;
  }
}

.range-value:first-child .form-control {
  border-radius: 5px 0 0 5px;
}

.range-value:last-child .form-control {
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.range-value .currency {
  position: absolute;
  right: 1.3rem;
  top: 1.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

@media only screen and (max-width: 767px) {
  .range-value .currency {
    right: 2rem;
  }
}

.ui-datepicker-prev {
  left: 0 !important;
  border: none !important;
  background: transparent !important;
  top: 0.2rem !important;
  cursor: pointer;
}

.ui-datepicker-next {
  right: 0 !important;
  border: none !important;
  background: transparent !important;
  top: 0.2rem !important;
  cursor: pointer;
}

.ui-icon-circle-triangle-w {
  background: url(../img/icons/prev-caret.svg) 50% 50% no-repeat !important;
  background-size: contain;
}

.ui-icon-circle-triangle-e {
  background: url(../img/icons/next-caret.svg) 50% 50% no-repeat !important;
  background-size: contain;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  color: #fff;
}

.pass-view {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .code-group {
    margin-bottom: 2.4rem;
  }
}

.code-group__separator {
  font-size: 0;
  width: 0.4rem;
}

.header {
  padding: 3rem 0;
  background: #000;
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 2.5rem 0 2.1rem;
  }
}

@media only screen and (min-width: 992px) {
  .header__content {
    padding: 0 3rem;
  }
}

.header__logo {
  margin-right: 3.4%;
}

@media only screen and (max-width: 991px) {
  .header__logo {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__social-list {
  margin-right: -0.1rem;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 12.5rem;
  display: block;
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 8.3rem;
  }
}

.logo:hover {
  opacity: 0.7;
}

.navbar {
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #000;
    width: 25rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    padding: 9.1rem 2rem;
    text-align: center;
  }
  .navbar.show {
    -webkit-transform: none;
            transform: none;
  }
}

.navbar__close {
  position: absolute;
  top: 1.7rem;
  right: 2.8rem;
}

.nav-list {
  margin: -0.3rem auto 0;
}

.nav-list__item {
  margin: 0 1.33rem;
}

@media only screen and (max-width: 991px) {
  .nav-list__item {
    margin: 0 0 0.4rem;
  }
}

.nav-list__link {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
}

.nav-list__link.active, .nav-list__link:hover {
  color: #ff1c3c;
}

.btn-menu {
  display: block;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 5.3rem;
  height: 3rem;
  background: url(../img/icons/menu.png) 0 0 no-repeat;
  background-size: contain;
  margin: 0 14.4% 0 0.1rem;
}

.social-list__item {
  width: 3.1rem;
  height: 3rem;
}

.social-list__item:not(:first-child) {
  margin-left: 1.3rem;
}

.social-list__item:hover {
  opacity: 0.7;
}

.preview {
  background: #0e1515 url(../img/preview.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding: 2.1rem 0 17.2rem;
}

@media only screen and (max-width: 991px) {
  .preview {
    padding: 1.9rem 0 6.8rem;
  }
}

@media only screen and (max-width: 767px) {
  .preview {
    padding: 1rem 0 0;
    background-size: auto 96%;
    background-position: 49.6% 1.4rem;
  }
}

.preview__date {
  width: 17.3rem;
  margin: 7.3rem 4.7rem 6.2rem auto;
}

@media only screen and (max-width: 991px) {
  .preview__date {
    margin: 4.4rem 1rem 4rem auto;
    width: 11.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .preview__date {
    margin: 0.9rem -0.7rem 10.7rem auto;
    width: 6.8rem;
  }
}

.place {
  background: #000;
  color: #182023;
  font-size: 4.06rem;
  line-height: 5.8rem;
  background: #fff;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  width: 43.1rem;
  margin: 0 0 0 1.6rem;
  position: relative;
  box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.49);
}

@media only screen and (max-width: 991px) {
  .place {
    font-size: 2.6rem;
    line-height: 3.7rem;
    margin-left: -1.2rem;
    width: 27.6rem;
  }
}

@media only screen and (max-width: 767px) {
  .place {
    font-size: 1.55rem;
    line-height: 2.2rem;
    margin-left: -0.5rem;
    width: 16.6rem;
  }
}

.place:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: -2.9rem -1.7rem 0 0;
  width: 5rem;
  height: 5rem;
  background: url(../img/icons/star-white.png) 0 0 no-repeat;
  background-size: contain;
  -webkit-transform: skew(15deg) rotate(-6deg);
          transform: skew(15deg) rotate(-6deg);
}

@media only screen and (max-width: 991px) {
  .place:before {
    margin: -2rem -1.2rem 0 0;
    width: 3.3rem;
    height: 3.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .place:before {
    margin: -1.1rem -0.8rem 0 0;
    width: 2rem;
    height: 2.3rem;
  }
}

.place__inside {
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  padding: 1.6rem 2.1rem 2.4rem 1.9rem;
}

@media only screen and (max-width: 991px) {
  .place__inside {
    padding: 0.9rem 1.3rem 1.5rem 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .place__inside {
    padding: 0.6rem 0.9rem 0.8rem 0.8rem;
  }
}

.place__icon {
  margin-right: 1.4rem;
}

@media only screen and (max-width: 991px) {
  .place__icon {
    margin-right: 0.9rem;
  }
}

@media only screen and (max-width: 767px) {
  .place__icon {
    margin: 0 0.5rem 0 -0.1rem;
  }
}

.place__title {
  font-size: 5.2rem;
  margin-bottom: 0.9rem;
}

@media only screen and (max-width: 991px) {
  .place__title {
    font-size: 3.3rem;
    margin-bottom: 0.7rem;
  }
}

@media only screen and (max-width: 767px) {
  .place__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.timer-section {
  margin: -12rem 0 5rem;
  border: 6px solid #dc2626;
  background: #ffffff;
  padding: 3.1rem 6.9% 3.2rem;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .timer-section {
    margin-left: 7.15%;
    margin-right: 7.15%;
  }
}

@media only screen and (max-width: 991px) {
  .timer-section {
    margin: -3.4rem -2rem 4.1rem;
    padding: 3.1rem 1.3rem 3.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .timer-section {
    margin: 0 -1rem 3.6rem;
    padding: 2.5rem 1.3rem 2.6rem;
  }
}

.timer-section__title {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .timer-section__title {
    margin: 0 0.2rem 0.5rem;
  }
}

.timer-section__text {
  margin-left: auto;
  padding-top: 0.1rem;
}

@media only screen and (max-width: 767px) {
  .timer-section__text {
    margin-top: 2.7rem;
  }
}

.count {
  color: #fff;
  background: #000;
  padding: 0.4rem 0.65rem 0.3rem;
  margin: 0 1.1rem;
}

@media only screen and (max-width: 767px) {
  .count {
    padding: 0.4rem 0.5rem 0.4rem;
    margin: 0 0.9rem;
  }
}

.count_sm {
  padding: 0.2rem 0.5rem 0.1rem;
  margin: 0 0.5rem;
}

.count-block {
  margin-top: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .count-block {
    margin-top: 1.3rem;
  }
}

.tick {
  padding: 0 0.1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 767px) {
  .tick {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.tick-label {
  color: #838383;
  text-align: center;
  font-size: 2.1rem;
  display: block !important;
}

@media only screen and (max-width: 767px) {
  .tick-label {
    font-size: 1.3rem;
  }
}

.tick-group {
  margin-right: 3rem;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .tick-group {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .tick-group {
    margin-right: 1.25rem;
  }
  .tick-group:last-of-type {
    margin-right: 0;
  }
}

.tick-flip {
  margin: 0;
  border-radius: 0;
  min-width: 1rem;
  letter-spacing: 0;
  text-indent: 0;
  padding-right: 0.9rem;
  text-align: left;
  line-height: 1.54;
}

@media only screen and (max-width: 767px) {
  .tick-flip {
    padding-right: 0.5rem;
  }
}

.tick-flip:first-child {
  padding: 0 0 0 0.9rem;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .tick-flip:first-child {
    padding-left: 0.5rem;
  }
}

.tick-flip-panel {
  background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#252525));
  background: linear-gradient(to bottom, #424242 0%, #252525 100%);
}

.tick-value {
  border-radius: 7px;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 7rem;
  position: relative;
  margin-bottom: 0.7rem;
}

@media only screen and (max-width: 767px) {
  .tick-value {
    font-size: 4.2rem;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0.4rem;
  }
}

.tick-value:before {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 19px 6px;
  border-color: transparent;
  border-bottom-color: #ff1c3c;
  bottom: -0.2rem;
  left: 0;
  right: 0;
  z-index: 11;
  width: 0;
  height: 0;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .tick-value:before {
    border-width: 13px 4px;
  }
}

.tick-credits {
  display: none !important;
}

.tick-flip-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about-section__btn {
  padding-top: 0.7rem;
}

@media only screen and (max-width: 767px) {
  .about-section__btn {
    padding-top: 1.4rem;
  }
}

.about-slider {
  margin-top: 0.8rem;
}

@media only screen and (max-width: 991px) {
  .about-slider {
    margin: 0 10.8% 0.7rem;
  }
}

@media only screen and (max-width: 767px) {
  .about-slider {
    margin: 0 0 0.7rem;
  }
}

.text-block {
  padding: 3.2rem 4.5rem 3.5rem 3.5rem;
  position: relative;
  overflow: hidden;
  margin: 1.9rem 0 3.9rem;
}

@media only screen and (max-width: 991px) {
  .text-block {
    margin: 0.9rem 0 3.6rem;
    padding: 3.2rem 3.5rem 3.6rem 2.9rem;
  }
}

@media only screen and (max-width: 767px) {
  .text-block {
    margin: 0.7rem -1rem 1.9rem;
    padding: 2.3rem 1.3rem 2.4rem;
  }
}

.text-block:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -1.5rem;
  width: 7.3rem;
  height: 7.3rem;
  background: url(../img/icons/star.png) 0 0 no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .text-block:before {
    right: -0.6rem;
    width: 3.1rem;
    height: 3.1rem;
  }
}

.video-block {
  margin: 5.3rem 10% 7.7rem;
}

@media only screen and (max-width: 991px) {
  .video-block {
    margin: 1rem 0 6rem;
  }
}

@media only screen and (max-width: 767px) {
  .video-block {
    margin: 4.5rem 0 4.6rem;
  }
}

.embed-responsive {
  position: relative;
}

.embed-responsive:before {
  content: '';
  display: block;
  padding-top: 55.6%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media only screen and (max-width: 991px) {
  .program-section {
    padding: 4.5rem 0 6.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .program-section {
    padding-bottom: 4.6rem;
  }
}

.program-section__text {
  padding-top: 1.4rem;
}

@media only screen and (max-width: 991px) {
  .program-section__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2.7rem;
  }
}

@media only screen and (max-width: 767px) {
  .program-section__image {
    margin-bottom: 1.2rem;
  }
}

@media only screen and (max-width: 1199px) {
  .program-section__info {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .program-section__info {
    margin-bottom: 5.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .program-section__info {
    line-height: 1.7rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
    margin-bottom: 4.2rem;
  }
}

.present-block {
  position: relative;
  z-index: 1;
  margin: 14.5rem 0 1.7rem;
  padding: 3rem 27rem 2.6rem 3.6rem;
}

@media only screen and (max-width: 991px) {
  .present-block {
    font-size: 2.1rem;
    margin: 9.8rem 0 1.8rem -1px;
    padding: 1.1rem 27rem 1.1rem 0;
  }
}

@media only screen and (max-width: 767px) {
  .present-block {
    padding: 0;
    margin: -2.2rem 0 1.5rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.present-block:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  background: #dc2626;
  left: -1000%;
  right: -1000%;
}

@media only screen and (max-width: 767px) {
  .present-block:before {
    display: none;
  }
}

.present-block__image {
  position: absolute;
  right: 3.2rem;
  bottom: -5.2rem;
}

@media only screen and (max-width: 991px) {
  .present-block__image {
    right: -0.1rem;
    bottom: -5.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .present-block__image {
    position: static;
    width: 55%;
    width: 15.3rem;
    margin: 0 -0.6rem 1.3rem auto;
  }
  .present-block__image:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 9.7rem;
    height: 6.4rem;
    background: #dc2626;
    left: -100%;
    right: -100%;
  }
}

.present-block__image img {
  max-width: 100%;
  display: block;
}

.video-section {
  padding-bottom: 6.7rem;
}

@media only screen and (max-width: 991px) {
  .video-section {
    padding: 4rem 0 5.9rem;
  }
}

@media only screen and (max-width: 767px) {
  .video-section {
    padding: 3.8rem 0 4.5rem;
  }
}

.video-item {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 767px) {
  .video-item {
    margin-bottom: 3.5rem;
  }
}

.video-item__date {
  margin: -0.1rem 0;
}

@media only screen and (max-width: 991px) {
  .video-item__date {
    margin-top: -0.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .video-item__date {
    margin: 1.5rem 0 0;
  }
}

.tickets-section {
  background: #fff;
}

@media only screen and (max-width: 991px) {
  .tickets-section {
    padding: 4.3rem 0 1.9rem;
  }
}

@media only screen and (max-width: 767px) {
  .tickets-section {
    padding: 3.5rem 0 4rem;
  }
}

.tickets-section .bg_light {
  margin: -0.5rem 0 -0.4rem;
}

@media only screen and (max-width: 991px) {
  .tickets-section .bg_light {
    background: none;
  }
}

@media only screen and (max-width: 991px) {
  .tickets-slider {
    margin: 0 -2rem;
  }
}

.tickets-slider .swiper-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tickets-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2.1rem 1rem 3.7rem;
  background: #fff;
}

@media only screen and (max-width: 991px) {
  .tickets-item {
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .tickets-item {
    padding: 2.4rem 1rem 2.1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 0;
  }
}

.tickets-item_disabled {
  color: #787878;
  background: none;
}

@media only screen and (max-width: 991px) {
  .tickets-item_disabled {
    background: #eeeeee;
  }
}

.tickets-item_disabled .count {
  background: #787878 !important;
}

.tickets-item__icon {
  margin: 0 0.7rem 0 -2.8rem;
}

@media only screen and (max-width: 991px) {
  .tickets-item__title {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .tickets-item__title {
    font-size: 2.1rem;
  }
}

.tickets-item__price {
  font-size: 8rem;
  line-height: 1.4;
  margin: 1.6rem 0 1rem;
}

@media only screen and (max-width: 767px) {
  .tickets-item__price {
    margin: 2.2rem 0 0.9rem;
  }
}

.tickets-item__price .currency {
  font-size: 3.8rem;
}

.tickets-item__count-block {
  margin-bottom: 2.8rem;
}

@media only screen and (max-width: 767px) {
  .tickets-item__count-block {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
  }
}

.tickets-item p {
  margin: 0;
}

.tickets-item__btn {
  margin-top: 4.5rem;
}

@media only screen and (max-width: 767px) {
  .tickets-item__btn {
    margin-top: 3.5rem;
  }
}

.footer {
  padding: 5.1rem 0 4.9rem;
  margin-top: auto;
  background: #000;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .footer {
    padding-top: 5.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding: 2.5rem 0 3.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer__content {
    padding: 0 2rem;
  }
}

.footer__logo {
  margin-top: 0.7rem;
}

.footer-nav {
  line-height: 2.8rem;
}

@media only screen and (max-width: 991px) {
  .footer-nav {
    padding-left: 0.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .footer-nav {
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

.footer-nav__link {
  color: #fff;
}

.footer-nav__link:hover {
  text-decoration: underline;
  color: #fff;
}

.footer__social-list {
  margin: 4.7rem 0 4.1rem;
}

@media only screen and (max-width: 767px) {
  .footer__social-list {
    margin: 2.7rem 0 2.5rem;
  }
}

.list-styling__item {
  padding-left: 2.2rem;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .list-styling__item {
    padding-left: 2rem;
  }
}

.list-styling__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/icons/star-primary.png) 0 0 no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .list-styling__item:before {
    top: 0.6rem;
  }
}
