.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    font-size: 2rem;
    padding: 2.2rem 4.7rem 1.8rem;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background: $danger;
    overflow: hidden;
    border-radius: 0;
    transition: all 0.3s ease-out;
    position: relative;
    border: none;
    @include bp(sm){
        font-size: 1.6rem;
        padding: 1.5rem 3.3rem 1.3rem;
    }
    &:hover{
        color: #fff;
        background: darken($danger,10%);
    }
    &:disabled, &.disabled{
        cursor: default;
        pointer-events: none;
        background: gray + 30;
        color: gray;
    }
    &_dark{
        background: #000;
        color: #fff;
        &:hover{
            background: lighten(#000,15%);
            color: #fff;
        }
    }
    // &_size{
    //     &-xs{
    //         padding: 0.2rem 1.6rem;
    //         border-radius: 30px;
    //         .btn__icon{
    //             margin: -0.2rem -1.4rem 0 11px;
    //         }
    //     }
    //     &-sm{
    //         padding: 0.9rem 1.6rem;
    //     }
    //     &-md{
    //         @include bp(md-up){
    //             min-width: 25.8rem;
    //         }
    //     }
    // }
}


