// preview
.preview{
    background: #0e1515 url(../img/preview.jpg) 50% 50% no-repeat;
    background-size: cover;
    padding: 2.1rem 0 17.2rem;
    &__date{
        width: 17.3rem;
        margin: 7.3rem 4.7rem 6.2rem auto;
    }
}
.place{
    background: #000;
    color: #182023;
    font-size: 4.06rem;
    line-height: 5.8rem;
    background: #fff;
    transform: skew(-15deg);
    width: 43.1rem;
    margin: 0 0 0 1.6rem;
    position: relative;
    box-shadow: 6px 6px 11px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 6px 6px 11px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 6px 6px 11px 0px rgba(0,0,0,0.49);
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: -2.9rem -1.7rem 0 0;
        width: 5rem;
        height: 5rem;
        background: url(../img/icons/star-white.png) 0 0 no-repeat;
        background-size: contain;
        transform: skew(15deg) rotate(-6deg);
    }
    &__inside{
        transform: skew(15deg);
        padding: 1.6rem 2.1rem 2.4rem 1.9rem;
    }
    &__icon{
        margin-right: 1.4rem;
    }
    &__title{
        font-size: 5.2rem;
        margin-bottom: 0.9rem;
    }
}

// timer
.timer-section{
    margin: -12rem 7.1% 5.2rem;
    border: 6px solid $danger;
    background: #ffffff;
    padding: 3.1rem 6.9%;
    &__title{
        margin-bottom: 1rem;
    }
    &__text{
        margin-left: auto;
        padding-top: 0.1rem;
    }
}
.count{
    color: #fff;
    background: #000;
    padding: 0.3rem 0.65rem;
    margin: 0 1.1rem;
    &-block{
        margin-top: 1.6rem;
    }
}
.tick{
    padding: 0 0.1rem;
    flex-shrink: 0;
    &-label {
        color: #838383;
        text-align:center;
        font-size: 2.1rem;
    }
    &-group {
        margin-right: 3rem;
        text-align:center;
    }
    &-flip{
        margin: 0;
        border-radius: 0;
        min-width: 1rem;
        letter-spacing: 0;
        text-indent: 0;
        padding-right: 0.9rem;
        text-align: left;
        line-height: 1.54;
        &:first-child{
            padding: 0 0 0 0.9rem;
            text-align: right;
        }
    }
    &-flip-panel{
        background: linear-gradient(to bottom,  rgba(66,66,66,1) 0%,rgba(37,37,37,1) 100%);
    }
    &-value{
        border-radius: 7px;
        border: 2px solid #000;
        display: flex;
        font-size: 7rem;
        position: relative;
        margin-bottom: 0.55rem;
        &:before{
            content: '';
            display: block;
            position: absolute;
            border-style: solid;
            border-width: 19px 6px;
            border-color: transparent;
            border-bottom-color: $primary;
            bottom: -0.2rem;
            left: 0;
            right: 0;
            z-index: 11;
            width: 0;
            height: 0;
            margin: 0 auto;
        }
    }
    &-credits{
        display: none!important;
    }
    &-flip-shadow{
        box-shadow: none;
    }
}

// about
.about{
    &-section{
        &__btn{
            padding-top: 0.7rem;
        }
    }
    &-slider{
        margin-top: 0.9rem;
    }
}
.text-block{
    padding: 3.2rem 4.5rem 3.5rem 3.5rem;
    position: relative;
    overflow: hidden;
    margin: 1.9rem 0 3.9rem;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -1.5rem;
        width: 7.3rem;
        height: 7.3rem;
        background: url(../img/icons/star.png) 0 0 no-repeat;
        background-size: contain;
    }
}
.video-block{
    margin: 5.3rem 10% 7.7rem;
}
.embed-responsive{
    position: relative;
    &:before {
        content: '';
        display: block;
        padding-top: 55.6%;
    }
    &-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

// program-section
.program-section{
    &__text{
        padding-top: 1.4rem;
    }
}
.present-block {
    position: relative;
    z-index: 1;
    margin: 14.5rem 0 1.7rem;
    padding: 3rem 27rem 26px 36px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        background: $danger;
        left: -1000%;
        right: -1000%;
    }
    &__image {
        position: absolute;
        right: 3.2rem;
        bottom: -5.2rem;
    }
}

// video-section
.video{
    padding-bottom: 6.7rem;
    &-item{
        margin-bottom: 3rem;
        &__date{
            margin: -0.1rem 0;
        }
    }
}








