a{
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: $danger;
    &:hover{
        text-decoration: underline;
    }
}
.link_underline{
    display: inline-block;
    border-bottom: 2px solid $danger;
    line-height: 1.1;
    &:hover{
        text-decoration: none!important;
        border-color: transparent;
    }
}
p{
    margin-bottom: 3.4rem;
    @include bp(sm){
        margin-bottom: 2.4rem;
    }
}
.title{
    font-size: 4.4rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4.7rem;
    letter-spacing: 0.14rem;
    @include bp(md){
        font-size: 3.6rem;
    }
    @include bp(sm){
        font-size: 2.4rem;
        letter-spacing: 0.1rem;
        margin-bottom: 3.6rem;
    }
    &_main{
        font: 400 7.2rem/1.2 Tahoma, sans-serif;
        @include bp(md){
            font-size: 4.4rem;
        }
        @include bp(sm){
            font-size: 2.4rem;
        }
    }
    &_heading{
        @include bp(sm){
            line-height: 3.4rem;
            letter-spacing: 0.08rem;
            margin-bottom: 2.1rem;
        }
    }
    &_size{
        &-sm{
            font-weight: bold;
            font-size: 2.8rem;
            line-height: 3.4rem;
            margin: 3rem 0 3.8rem;
            @include bp(sm){
                font-size: 1.8rem;
                line-height: 2.4rem;
                margin: 2.3rem 0 2.5rem;
            }
        }
        &-md{
            font-weight: bold;font-size: 3.2rem;
            line-height: 3.4rem;
            margin: 2.9rem 0 3.9rem;
            @include bp(sm){
                font-size: 2.1rem;
                line-height: 2.4rem;
                margin: 2.2rem 0 2.6rem;
            }
        }
    }
}
.mb{
    &_md{
        margin-bottom: 6rem;
        @include bp(md){
            margin-bottom: 4.2rem;
        }
    }
    &_lg{
        margin-bottom: 7.5rem;
        @include bp(md){
            margin-bottom: 4.1rem;
        }
        @include bp(sm){
            margin-bottom: 3.3rem;
        }
    }
}
.text{
    &_upper{
        text-transform: uppercase;
    }
    // size
    &_size{
        &-xs{
            font-size: 1.6rem;
            @include bp(sm){
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
        }
        &-sm{
            font-size: 1.8rem;
            line-height: 3rem;
        }
        &-md{
            font-size: 2.4rem;
            line-height: 3.4rem;
            @include bp(md){
                font-size: 2.1rem;
            }
            @include bp(sm){
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }
    &_mobile-sm{
        @include bp(sm){
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    // colors
    &_primary{
        color: $primary;
    }
    &_inversion{
        color: #fff;
    }
    &_dark{
        color: $dark;
    }
    &_light{
        color: $light;
    }
    &_black{
        color: #000;
    }
    // weight
    &_normal{
        font-weight: 400;
    }
    &_bold{
        font-weight: 700;
    }
    // alignment
    &_center{
        text-align: center;
        &_sm{
            @include bp(sm){
                text-align: center;
            }
        }
    }
    &_left{
        text-align: left!important;
    }
    &_right{
        text-align: right!important;
    }
    &_styling{
        font-family: Tahoma, sans-serif;
    }
}

