a{
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: $danger;
    &:hover{
        color: darker($danger, 10%);
    }
}
.link_underline{
    display: inline-block;
    border-bottom: 2px solid $danger;
    line-height: 1.1;
    &:hover{
        text-decoration: none!important;
        border-color: transparent;
    }
}
p{
    margin-bottom: 3.4rem;
}

.title{
    &_main{
        font: 400 7.2rem/1.2 Tahoma, sans-serif;
    }
    font-size: 4.4rem;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4.5rem;
    letter-spacing: 0.14rem;
    &_size{
        &-xs{
            
        }
        &-sm{
            
        }
        &-md{
            
        }
        &-lg{
            
        }
        &-xl{
            
        }
    }

}
.mb{
    &_md{
        margin-bottom: 6rem;
    }
    &_lg{
        margin-bottom: 7.5rem;
    }
}
.text{
    &_upper{
        text-transform: uppercase;
    }
    // size 16 18 24
    &_size{
        &-xs{
            font-size: 1.6rem;
        }
        &-sm{
            font-size: 1.8rem;
            line-height: 3rem;
        }
        &-md{
            font-size: 2.4rem;
            line-height: 3.4rem;
        }
        &-lg{
            
        }
        &-xl{
            
        }
    }
    // colors
    &_primary{
        color: $primary;
    }
    &_inversion{
        color: #fff;
    }
    &_dark{
        color: $dark;
    }
    &_light{
        color: $light;
    }
    // weight
    &_normal{
        font-weight: 400;
    }
    &_bold{
        font-weight: 700;
    }
    // alignment
    &_center{
        text-align: center;
        &_sm{
            @include bp(sm){
                text-align: center;
            }
        }
    }
    &_left{
        text-align: left!important;
    }
    &_right{
        text-align: right!important;
    }
    &_styling{
        font-family: Tahoma, sans-serif;
    }
}

