
@import 'fonts';
@import 'reset';
@import 'mixin';
@import 'variables';
// @import 'vendor';
@import 'icons';
@import 'buttons';
@import 'typography';






body{
    font: 400 2.1rem/3.4rem Arial, sans-serif;
    color: #000;
    background: #f0f0f0;

    @include bp(md){

    }
    @include bp(sm){

    }

    &.overflow-none{
        overflow: hidden;
        @include bp(xl-up){
            padding-right: 1.7rem;
            .header{
                margin-right: 1.7rem;
            }
        }
    }
}
.wrap{
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    width: 100%;
    @include bp(xxl-up){
        max-width: 1220px;
    }
    @include bp(md){
    }
}
.pos-rel{
    position: relative;
    z-index: 1;
}
.img-fluid{
    display: block;
    max-width: 100%;
}
.section{
    padding: 5.7rem 0 7.3rem;
}
.bg{
    &_primary{
        background: $primary;
    }
    &_danger{
        background: $danger;
    }
    &_dark{
        background: #0e1515;
        color: #fff;
    }
    &_black{
        background: #000;
        color: #fff;
        .text_light{
            color: #777777;
        }
    }
    &_light{
        background: #eeeeee;
    }
}
.w-100{
    width: 100%!important;
}
.row{
    margin-left: -3rem;
    margin-right: -3rem;
    @include bp(sm){

    }
    & > *{
        padding-left: 3rem;
        padding-right: 3rem;
        @include bp(sm){

        }
    }
}
.zoom-link{
    display: block;
    overflow: hidden;
    &:hover{
        img{
            transform: scale(1.2);
        }
    }
    img{
        transition: all 0.5s ease-out;
    }
}

// swiper
.swiper{
    &-pagination{
        position: static;
        margin: 1.7rem 0;
        &-bullet{
            width: 1.4rem;
            height: 1.4rem;
            margin: 0 0.75rem!important;
            opacity: 1;
            border-radius: 0;
            background: #9a9a9a;
            transition: all 0.3s ease-out;
            &:hover, &-active{
                background: $danger;
            }
        }
    }
}





@import 'form';
@import 'header';
@import 'home';
// @import 'footer';







